[Unit]
Description=Bluetooth MAC service
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=
ExecStart=btmgmt -i hci0 public-addr 43:34:1b:00:1a:ac

[Install]
WantedBy=default.target
